.header-nav .graphic-wrapper > .accent {
  background-image: url("/static/images/main-sprite.png");
  background-position: -86px 0;
}
.header-nav .logo {
  background-image: url("/static/images/main-sprite.png");
  background-position: 3px -189px;
}
.main-nav > .tapin-bg {
  background-image: url("/static/images/main-sprite.png");
  background-position: -193px -167px;
}
.main-nav .separator {
  background-image: url("/static/images/main-sprite.png");
  background-position: -299px -183px;
}
