// Variables

def-font-size = 12px
def-font-family = Helvetica Neue, sans-serif
def-font-color = #6e767f

// End Variables

// Mixins

// Returns our default font setup
fonts(size = def-font-size)
  font-family Helvetica Neue, sans-serif
  font-size size
  color def-font-color

// cross-browser gradients
bg-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
  background-color startColor
  if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
    background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)


bg-white-stripe()
  background-image url('/static/images/white-stripe-vertical.png')

bg-white-stripe-diagonal()
  background-image url('/static/images/white-stripe-diagonal.png')

main-sprite(x = 0, y = 0)
  background-image url('/static/images/main-sprite.png')
  if x != 0 and y != 0
    background-position x y

// End Mixins

body, html
  fonts()
  background-color #364d72
  bg-white-stripe()

.outer-container
  padding-top 49px

.header-nav
  position fixed
  z-index: 100
  top 0
  height 49px
  padding: 0 12px;
  width 100%
  box-sizing border-box
  bg-linear-gradient(top, #4871a3, 0%, #273d57, 100%)
  box-shadow inset 0 1px 0 rgba(255,255,255, 0.4), 0 3px 6px rgba(0,0,0, 0.35)
  border-bottom solid #000 1px

.header-nav > .flex-columns
  position:relative
  z-index 2
.header-nav > .flex-columns > .column
  padding-top: 8px
.header-nav > .flex-columns > .middle
  text-align center
  padding-top: 2px
.header-nav > .flex-columns > .right
  text-align right

.header-nav .graphic-wrapper
  position: relative;
.header-nav .graphic-wrapper > .graphic
  position absolute
  left: 50%;
.header-nav .graphic-wrapper > .accent
  margin-left: -215px;
  width 430px
  height 49px
  main-sprite(-100px, 0)
.header-nav .logo
  display: inline-block
  margin-top 2px
  width: 85px
  height 46px
  main-sprite(3px, -189px)

// Begin Footer Nav

.main-nav
  position: fixed
  bottom: 0;
  width: 100%
  height: 61px
  z-index: 100

.main-nav > .tapin-bg
  display: inline-block
  position: absolute
  top: 0
  left: 50%
  z-index: 101
  margin-left: -39px
  width: 79px
  height: 61px
  main-sprite(-193px, -167px)

.main-nav > ul
  position: absolute
  bottom: 0
  width: 100%
  height: 45px
  list-style: none
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.55)
  display: -webkit-box

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,82,122,1)), color-stop(100%,rgba(19,33,51,1)));
  background: -webkit-linear-gradient(top, rgba(52,82,122,1) 0%,rgba(19,33,51,1) 100%);
  background: linear-gradient(top, rgba(52,82,122,1) 0%,rgba(19,33,51,1) 100%);

.main-nav .menu-item
  position: relative
  width: 60px
  height: 57px
  z-index: 102
  top: -15px
  main-sprite()

.main-nav > .flex-columns > .column
  text-align: center

.main-nav .separator
  display: inline-block
  height: 42px
  width: 2px
  margin-top: 1px
  main-sprite(-299px, -183px)

.main-nav .menu-item > a
  position: absolute
  width: 100%
  text-align: center
  bottom: 0
  color: #8c95a0
  font-size: 9px
  text-transform: uppercase
  text-shadow: 0 -1px 0 #000
  text-decoration: none

.main-nav .menu-item.active > a
  color: #fff

.main-nav .menu-item.places
  background-position: 4px -259px

.main-nav .menu-item.activity
  background-position: -59px -259px

.main-nav .menu-item.tapin
  background-position: -129px -259px

.main-nav .menu-item.goodies
  background-position: -313px -259px

.main-nav .menu-item.me
  background-position: -258px -259px

.main-nav .menu-item.active.places
  background-position: 4px -318px

.main-nav .menu-item.active.activity
  background-position: -59px -318px

.main-nav .menu-item.active.tapin
  background-position: -129px -318px

.main-nav .menu-item.active.goodies
  background-position: -313px -318px

.main-nav .menu-item.active.me
  background-position: -258px -318px


// End Footer Nav

.sub-header
  box-sizing border-box
  background-color #1d2b41
  bg-white-stripe()
  border-bottom solid #000 1px
  box-shadow  0 1px 0 rgba(255,255,255, 0.2)
  padding: 14px 3%
  color: #99a1ae;

.sub-header.profile > .left
  width: 56%
.sub-header.profile > .right {
  text-align: right;
  width: 44%;
}
.sub-header.profile .user-info > .item {
  display: inline-block
  vertical-align: middle
}
.sub-header.profile .user-info .picture {
  width: 45px;
  border: solid 4px #e9ebed;
  margin-right: 6px;
}
.sub-header.profile .user-info .name {
  font-size 1.2rem
  font-weight 500
  color #fff
}
.sub-header.profile .user-info .donated
  margin-top: 4px
  color #99a1ae

.sub-header.profile .pledge-bank
  display inline-block
  text-align center
.sub-header.profile .pledge-bank > .title {
  color: #99a0ad
  font-size 0.8rem
  margin-bottom: 4px
  text-transform uppercase
}
.sub-header.profile .pledge-bank > .pledge-wrapper
  padding 3px
  border: solid 1px #000
  border-top solid 1px #1a1a1a
  border-radius 7px
  box-shadow inset 0 1px 1px rgba(255,255,255, 0.1), 0 1px 0 rgba(255,255,255, 0.15)
  bg-linear-gradient(top, #333, 0%, #000, 100%)

.sub-header.profile .pledge-bank > .pledge-wrapper > .pledge
  position: relative
  font-size: 0;
  border: solid #000 1px
  border-radius 5px
  box-shadow: inset 0 4px 6px rgba(0,0,0, 0.9)
  background: #fff
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(34%,rgba(204,204,204,1)), color-stop(59%,rgba(211,211,211,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 34%,rgba(211,211,211,1) 59%,rgba(255,255,255,1) 100%);
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 34%,rgba(211,211,211,1) 59%,rgba(255,255,255,1) 100%);

.sub-header.profile .pledge-bank > .pledge-wrapper > .pledge > .separator
  position absolute
  height 100%
  width: 1px;
  background: -webkit-linear-gradient(top, rgba(32,32,32,1) 0%,rgba(188,188,188,1) 60%)
  background: linear-gradient(top, rgba(32,32,32,1) 0%,rgba(188,188,188,1) 60%)

.sub-header.profile .pledge-bank > .pledge-wrapper > .pledge > .digit
  font-size 1.4rem
  font-weight: 700
  color #222
  display: inline-block
  padding: 4px 8px 4px 9px
  vertical-align: bottom

.sub-header.profile .pledge-bank > .pledge-wrapper > .pledge > .digit:last-child
  border-right none
  padding 4px 8px

.sub-header.profile .pledge-bank > .pledge-wrapper > .pledge > .decimal
  padding: 4px 6px

.content
  margin: 12px 3%

.content > .page {
  padding: 4px 2%;
  min-height 420px
  background-color: #fff
  border: solid 1px #000
  border-radius 4px
}

.sub-nav
  margin-bottom: 10px
.sub-nav > .right
  text-align: right


// All this meter is stuff is really un-organized

.meter .circle {
    margin-left: -6px;
    width: 48px;
    height: 48px;
    border-radius: 25px 25px 25px 24px;
    border: solid rgba(178,181,188, 0.8) 1px;
    box-shadow: inset 1px 2px 0 #fff,inset 1px -2px 0 #fff,inset -2px 0 0 #fff,inset -2px -2px 0 #fff,inset 0 3px 0 rgba(255,255,255,0.35),-20px -20px 0 #fff,20px  -20px 0 #fff,20px  20px  0 #fff,-20px 20px  0 #fff;
}
.meter .circle-wrap {
    overflow: hidden;
    width: 48px;
    height: 51px;
    position: absolute;
    right: 0;
}
.meter .wrap {
    display: -webkit-box;
    width: 100%;
    position: relative;
    height: 51px;
    overflow: hidden;
}
.meter .progress {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 70%;
    background: url("/static/images/white-stripe-diagonal.png"), -webkit-linear-gradient(top, rgba(183,237,21,1) 0%,rgba(140,186,24,1) 28%,rgba(78,126,11,1) 65%,rgba(59,86,0,1) 99%);
}
.meter.complete .progress {
    width: 100%;
    -webkit-animation: progress-slide 0.6s linear infinite;
}
@-webkit-keyframes progress-slide {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 25px 25px;
    }
}
.meter .progress-cover {
    position: absolute;
    top: 19px;
    width: 70%;
    height: 12px;
    border-radius: 9px 0 0 9px;
    border: solid #70901b 1px;
    border-right: 0;
    z-index: 2;
}
.meter .top-mask {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 18px;
    padding-left: 45px;
    margin-left: -45px;
    background: white;
    border-bottom: solid #b2b5bc 1px;
    border-radius: 0 0 33px 0;
    box-shadow: 1px 2px 0 #fff, 0 3px 0 rgba(255,255,255,0.35);
}
.meter .bottom-mask {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 17px;
    padding-left: 45px;
    margin-left: -45px;
    background: white;
    border-top: solid #b2b5bc 1px;
    border-radius: 0 19px 0 0;
    box-shadow: 1px -2px 0 #fff;
}
.meter .inner {
    position: absolute;
    top: 0;
    left: 2px;
    width: 3px;
    height:12px;
    border: solid 3px #fff;
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.meter {
    position: relative;
}
.meter .left-border {
    position: absolute;
    top: 17px;
    left: -4px;
    width: 10px;
    height: 16px;
    border-radius: 12px 0 0 12px;
    border: solid 1px #b2b5bc;
    border-right: none;
    z-index: 3;
}​
// End Meter stuff

h1
  font-size: 2rem
  font-weight: 300
h2
  font-weight: 300

.row-link
  position: relative
  display: block
  padding: 8px 6px
  border: solid #aaa 1px
  border-radius: 8px
  color: #4C90D0
  font-weight: 600
  text-decoration: none
  margin: 6px 0;
.row-link:visited
  color: #4c90d0
.row-link:after
  position: absolute
  top: 6px
  right: 6px
  color: #fff;
  text-align: center
  font-size: 32px;
  line-height: 14px
  font-weight: 400;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.2);
  box-shadow: 0 1px 0 rgba(255,255,255, 0.25);
  background: #4C90D0
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C90D0), color-stop(100%,#2D476F));
  //background: -webkit-linear-gradient(top, #4C90D0 0%, #2D476F 100%);
  //background: linear-gradient(top, #4C90D0 0%, #2D476F 100%);
  width: 20px
  height: 20px
  border-radius: 10px
  content: "\203A"

button {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.2);
  padding: 8px 16px;
  border: solid 1px #21252a;
  border-top: solid #47494f 1px;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 #7ca7ca, inset 0 -2px 2px rgba(0,0,0, 0.1), 0 1px 0 rgba(255,255,255, 0.25);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C90D0), color-stop(100%,#2D476F));
  background: -webkit-linear-gradient(top, #4C90D0 0%, #2D476F 100%);
  background: linear-gradient(top, #4C90D0 0%, #2D476F 100%);
}
button:active
  box-shadow: 0 1px 0 rgba(255,255,255, 0.25);

.columns
  display table
  width 100%
.columns > .column
  float left
  width 50%

.inline-columns
  font-size 0
.inline-columns > .column
  font-size def-font-size
  display: inline-block
  vertical-align middle
  width 50%

.flex-columns
  display: -webkit-box
.flex-columns > .column
  -webkit-box-flex 1



@media screen and (max-width: 320px) {
  .sub-header.profile .user-info .picture {
    width: 25px
    border: solid 2px #e9ebed;
  }
  .sub-header.profile .pledge-bank > .pledge-wrapper > .pledge > .digit {
    padding: 4px 7px 4px 8px
  }
}
