@import 'globals'

.header-nav .graphic-wrapper > .accent
  main-sprite(-138px, 0)

.header-nav .logo
  main-sprite(3px, -189px)

.main-nav > .tapin-bg
  main-sprite(-193px, -167px)

.main-nav .separator
  main-sprite(-299px, -183px)

.main-nav .menu-item.places
  main-sprite(4px, -259px)

.main-nav .menu-item.activity
  main-sprite(-59px, -259px)

.main-nav .menu-item.tapin
  main-sprite(-129px, -259px)

.main-nav .menu-item.goodies
  main-sprite(-313px, -259px)

.main-nav .menu-item.me
  main-sprite(-258px, -259px)

.main-nav .menu-item.settings
  main-sprite(-198px, -259px)

.main-nav .menu-item.active.places
  main-sprite(4px, -318px)

.main-nav .menu-item.active.activity
  main-sprite(-59px, -318px)

.main-nav .menu-item.active.tapin
  main-sprite(-129px, -318px)

.main-nav .menu-item.active.goodies
  main-sprite(-313px, -318px)

.main-nav .menu-item.active.me
  main-sprite(-258px, -318px)

.main-nav .menu-item.active.settings
  main-sprite(-198px, -318px)