@import 'globals'

.header-nav .graphic-wrapper > .accent
  main-sprite(-86px, 0)

.header-nav .logo
  main-sprite(3px, -189px)

.main-nav > .tapin-bg
  main-sprite(-193px, -167px)

.main-nav .separator
  main-sprite(-299px, -183px)