@import 'globals'

.spinner
  main-sprite(-375px, -285px)

.header-nav .graphic-wrapper > .accent
  main-sprite(83px, 0)

.header-nav .logo
  main-sprite(3px, -195px)

.main-nav > .tapin-bg
  main-sprite(-203px, -185px)

.main-nav .separator
  main-sprite(-320px, -199px)

.main-nav .menu-item.places
  main-sprite(9px, -262px)

.main-nav .menu-item.activity
  main-sprite(-52px, -264px)

.main-nav .menu-item.tapin
  main-sprite(-117px, -262px)

.main-nav .menu-item.goodies
  main-sprite(-302px, -262px)

.main-nav .menu-item.me
  main-sprite(-253px, -262px)

.main-nav .menu-item.settings
  main-sprite(-176px, -261px)

.main-nav .menu-item.active.places
  main-sprite(10px, -325px)

.main-nav .menu-item.active.activity
  main-sprite(-52px, -323px)

.main-nav .menu-item.active.tapin
  main-sprite(-117px, -337px)

.main-nav .menu-item.active.goodies
  main-sprite(-302px, -327px)

.main-nav .menu-item.active.me
  main-sprite(-253px, -318px)

.main-nav .menu-item.active.settings
  main-sprite(-176px, -326px)