@import 'globals'

.header-nav .graphic-wrapper > .accent
  main-sprite-hi-res(-86px, 0)

.header-nav .logo
  main-sprite-hi-res(3px, -189px)

.main-nav > .tapin-bg
  main-sprite-hi-res(-193px, -167px)

.main-nav .separator
  main-sprite-hi-res(-299px, -183px)

.main-nav .menu-item.places
  main-sprite-hi-res(4px, -259px)

.main-nav .menu-item.activity
  main-sprite-hi-res(-59px, -259px)

.main-nav .menu-item.tapin
  main-sprite-hi-res(-129px, -259px)

.main-nav .menu-item.goodies
  main-sprite-hi-res(-313px, -259px)

.main-nav .menu-item.me
  main-sprite-hi-res(-258px, -259px)

.main-nav .menu-item.settings
  main-sprite-hi-res(-198px, -259px)

.main-nav .menu-item.active.places
  main-sprite-hi-res(4px, -318px)

.main-nav .menu-item.active.activity
  main-sprite-hi-res(-59px, -318px)

.main-nav .menu-item.active.tapin
  main-sprite-hi-res(-129px, -318px)

.main-nav .menu-item.active.goodies
  main-sprite-hi-res(-313px, -318px)

.main-nav .menu-item.active.me
  main-sprite-hi-res(-258px, -318px)

.main-nav .menu-item.active.settings
  main-sprite-hi-res(-198px, -318px)