@import 'globals'

.header-nav .graphic-wrapper > .accent
  main-sprite-hi-res(102px, -42px)

.main-nav > ul
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.59)

.header-nav .logo
  main-sprite-hi-res(3px, -194px)

.main-nav > .tapin-bg
  main-sprite-hi-res(-206px, -185px)

.main-nav .separator
  main-sprite-hi-res(-320px, -200px)

.main-nav .menu-item.places
  main-sprite-hi-res(8px, -262px)

.main-nav .menu-item.activity
  main-sprite-hi-res(-51px, -263px)

.main-nav .menu-item.tapin
  main-sprite-hi-res(-119px, -262px)

.main-nav .menu-item.goodies
  main-sprite-hi-res(-302px, -261px)

.main-nav .menu-item.me
  main-sprite-hi-res(-258px, -259px)

.main-nav .menu-item.settings
  main-sprite-hi-res(-177px, -260px)

.main-nav .menu-item.active.places
  main-sprite-hi-res(9px, -325px)

.main-nav .menu-item.active.activity
  main-sprite-hi-res(-51px, -322px)

.main-nav .menu-item.active.tapin
  main-sprite-hi-res(-119px, -337px)

.main-nav .menu-item.active.goodies
  main-sprite-hi-res(-302px, -326px)

.main-nav .menu-item.active.me
  main-sprite-hi-res(-258px, -325px)

.main-nav .menu-item.active.settings
  main-sprite-hi-res(-177px, -325px)