@import 'globals'

.header-nav .graphic-wrapper > .accent
  main-sprite-hi-res(-86px, 0)

.header-nav .logo
  main-sprite-hi-res(3px, -189px)

.main-nav > .tapin-bg
  main-sprite-hi-res(-193px, -167px)

.main-nav .separator
  main-sprite-hi-res(-299px, -183px)