@import 'globals'

body, html
  fonts()
  background-color #364d72
  padding-bottom: 22px
  bg-white-stripe()

.outer-container
  padding-top 49px

.header-nav
  position fixed
  z-index: 100
  top 0
  height 49px
  padding: 0 12px
  width 100%
  -webkit-box-sizing border-box
  box-sizing border-box
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4871a3), color-stop(100%,#273d57));
  background: -webkit-linear-gradient(top, #4871a3 0%,#273d57 100%);
  background: linear-gradient(top, #4871a3 0%,#273d57 100%);
  bg-linear-gradient(top, #4871a3, 0%, #273d57, 100%)
  box-shadow inset 0 1px 0 rgba(255,255,255, 0.4), 0 3px 6px rgba(0,0,0, 0.35)
  border-bottom solid #000 1px

.header-nav > .flex-columns
  position:relative
  z-index 2
.header-nav > .flex-columns > .column
  padding-top: 8px
.header-nav > .flex-columns > .middle
  text-align center
  padding-top: 2px
.header-nav > .flex-columns > .right
  text-align right

.header-nav .graphic-wrapper
  position: relative;
.header-nav .graphic-wrapper > .graphic
  position absolute
  left: 50%;
.header-nav .graphic-wrapper > .accent
  margin-left: -215px;
  width 430px
  height 49px
.header-nav .logo
  position: absolute;
  left: 50%
  margin-left: -42px
  display: inline-block
  margin-top 2px
  width: 85px
  height 46px

// Begin Footer Nav

.main-nav
  position: fixed
  bottom: 0;
  width: 100%
  height: 61px
  z-index: 100

.main-nav .nav-shadow
  display: none
  position: absolute
  width: 100%
  top: 14px
  z-index: 101
  height: 6px

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#19283a), color-stop(100%,#354F72));
  background: -webkit-linear-gradient(top, #19283a 0%, #354F72 100%)
  background: linear-gradient(top, #19283a 0%, #354F72 100%);

.main-nav > .tapin-bg
  display: inline-block
  position: absolute
  top: 0
  left: 50%
  z-index: 102
  margin-left: -39px
  width: 79px
  height: 61px

.main-nav > ul
  position: absolute
  bottom: 0
  width: 100%
  height: 45px
  list-style: none
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.55)
  display: -webkit-box

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,82,122,1)), color-stop(100%,rgba(19,33,51,1)));
  background: -webkit-linear-gradient(top, rgba(52,82,122,1) 0%,rgba(19,33,51,1) 100%);
  background: linear-gradient(top, rgba(52,82,122,1) 0%,rgba(19,33,51,1) 100%);

.main-nav .menu-item
  position: relative
  width: 60px
  height: 57px
  z-index: 102
  top: -15px

.main-nav > .flex-columns > .column
  text-align: center

.main-nav .separator
  display: inline-block
  height: 42px
  width: 2px
  margin-top: 1px

.main-nav .menu-item > a
  position: absolute
  width: 100%
  padding-top: 50px
  text-align: center
  bottom: 0
  color: #8c95a0
  font-size: 9px
  text-transform: uppercase
  text-shadow: 0 -1px 0 #000
  text-decoration: none

.main-nav .menu-item.active > a
  color: #fff


// End Footer Nav

.sub-header
  box-sizing border-box
  background-color #1d2b41
  bg-white-stripe()
  border-bottom solid #000 1px
  box-shadow  0 1px 0 rgba(255,255,255, 0.2)
  padding: 14px 3%
  color: #99a1ae;

.sub-header.profile > .left
  width: 56%
.sub-header.profile > .right {
  text-align: right;
  width: 43.7%; // android not adding percentages correctly
}
.sub-header.profile .user-info > .item {
  display: inline-block
  vertical-align: middle
}
.sub-header.profile .user-info .picture {
  width: 45px;
  border: solid 4px #e9ebed;
  margin-right: 6px;
}
.sub-header.profile .user-info .name {
  font-size 1.2rem
  font-weight 500
  color #fff
}
.sub-header.profile .user-info .donated
  margin-top: 4px
  color #99a1ae

.sub-header.profile .pledge-bank
  display inline-block
  text-align center
.sub-header.profile .pledge-bank > .title {
  color: #99a0ad
  font-size 0.8rem
  margin-bottom: 4px
  text-transform uppercase
}
.sub-header.profile .pledge-bank > .pledge-wrapper
  padding 3px
  border: solid 1px #000
  border-top solid 1px #1a1a1a
  border-radius 7px
  box-shadow inset 0 1px 1px rgba(255,255,255, 0.1), 0 1px 0 rgba(255,255,255, 0.15)
  bg-linear-gradient(top, #333, 0%, #000, 100%)

.sub-header.profile .pledge-bank > .pledge-wrapper > .pledge
  position: relative
  font-size: 0;
  border: solid #000 1px
  border-radius 5px
  box-shadow: inset 0 4px 6px rgba(0,0,0, 0.9)
  background: #fff
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(34%,rgba(204,204,204,1)), color-stop(59%,rgba(211,211,211,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 34%,rgba(211,211,211,1) 59%,rgba(255,255,255,1) 100%);
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,204,204,1) 34%,rgba(211,211,211,1) 59%,rgba(255,255,255,1) 100%);

.sub-header.profile .pledge-bank > .pledge-wrapper > .pledge > .separator
  position absolute
  height 100%
  width: 1px;
  background: -webkit-linear-gradient(top, rgba(32,32,32,1) 0%,rgba(188,188,188,1) 60%)
  background: linear-gradient(top, rgba(32,32,32,1) 0%,rgba(188,188,188,1) 60%)

.sub-header.profile .pledge-bank > .pledge-wrapper > .pledge > .digit
  font-size 1.4rem
  font-weight: 700
  color #222
  display: inline-block
  padding: 4px 8px 4px 9px
  vertical-align: bottom

.sub-header.profile .pledge-bank > .pledge-wrapper > .pledge > .digit:last-child
  border-right none
  padding 4px 8px

.sub-header.profile .pledge-bank > .pledge-wrapper > .pledge > .decimal
  padding: 4px 6px

.content
  margin: 12px 3%

.content .page {
  padding: 4px 2%;
  background-color: #fff
  border: solid 1px #000
  border-radius 4px
}

.sub-nav
  margin-bottom: 10px
.sub-nav > .right
  text-align: right


.page.goodies
  padding: 0
.goodies-list > .goody
  display: -webkit-box;
  border-bottom: solid #ccc 1px
.goodies-list > .goody > .left
  width: 70px
  padding: 6px 5px;
  margin-right: 5px;
  text-align: center
  background-color: #f5f5f5
  border-right: solid #ccc 1px
.goodies-list > .goody > .right
  padding: 6px 5px
  -webkit-box-flex: 1;
.goodies-list > .goody .business-name
  font-size: 1.1rem
  position: relative
  z-index: 3
  line-height: 14px
  margin: 0 0 -12px 0;
  padding: 0
.goodies-list > .goody .cents-remaining
  position: relative
  z-index: 3
  margin: -12px 0 0 0
.goodies-list > .goody .raised-title
  margin-top: 8px
  font-size: 9px
  text-transform: uppercase
  font-weight: 200
  text-shadow: 0 1px 0 #fff;
.goodies-list > .goody .raised-amount
  font-size: 22px
  text-shadow: 0 1px 0 #fff;

// All this meter is stuff is really un-organized

// Simple meter for less capable browsers
.goodies-list > .goody .simple-meter
  border: solid #b2b5bc 1px;
  border-radius: 8px

.goodies-list > .goody .simple-meter .wrap
  padding: 1px
  border-radius: 7px

.goodies-list > .goody .simple .business-name
  margin: 0 0 4px 3px

.goodies-list > .goody .simple-meter .progress
  height: 16px
  border-radius: 6px
  background: url("/static/images/white-stripe-diagonal.png"), -webkit-linear-gradient(top, rgba(183,237,21,1) 0%,rgba(140,186,24,1) 28%,rgba(78,126,11,1) 65%,rgba(59,86,0,1) 99%);

.goodies-list > .goody .simple .stats
  margin-top: 3px

.goodies-list > .goody .simple .stats .key
  margin-left: 2px

.goodies-list > .goody .simple .stats .key + .key
  margin-left: 6px

.meter .circle {
  margin-left: -6px;
  width: 48px;
  height: 48px;
  line-height: 48px
  text-align: center
  border-radius: 25px 25px 25px 24px;
  border: solid rgba(178,181,188, 0.8) 1px;
  box-shadow: inset 1px 2px 0 #fff,inset 1px -2px 0 #fff,inset -2px 0 0 #fff,inset -2px -2px 0 #fff,inset 0 3px 0 rgba(255,255,255,0.35),-20px -20px 0 #fff,20px -20px 0 #fff,20px 20px 0 #fff,-20px 20px0 #fff;
}
.meter .circle-wrap {
  overflow: hidden;
  width: 48px;
  height: 51px;
  position: absolute;
  right: 0;
}
.meter .goal
  color: #335278
  font-weight: 700

.meter .wrap {
  display: -webkit-box;
  width: 100%;
  position: relative;
  height: 51px;
  overflow: hidden;
}
.meter .progress {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 70%;
  background: url("/static/images/white-stripe-diagonal.png"), -webkit-linear-gradient(top, rgba(183,237,21,1) 0%,rgba(140,186,24,1) 28%,rgba(78,126,11,1) 65%,rgba(59,86,0,1) 99%);
}
.meter.complete .progress {
  width: 100%;
  -webkit-animation: progress-slide 0.6s linear infinite;
}
@-webkit-keyframes progress-slide {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 25px 25px;
  }
}
.meter .progress-cover {
  position: absolute;
  top: 19px;
  width: 70%;
  height: 12px;
  border-radius: 9px 0 0 9px;
  border: solid #70901b 1px;
  border-right: 0;
  z-index: 2;
}
.meter .top-mask {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 18px;
  padding-left: 45px;
  margin-left: -45px;
  background: white;
  border-bottom: solid #b2b5bc 1px;
  border-radius: 0 0 33px 0;
  box-shadow: 1px 2px 0 #fff, 0 3px 0 rgba(255,255,255,0.35);
}
.meter .bottom-mask {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  height: 17px;
  padding-left: 45px;
  margin-left: -45px;
  background: white;
  border-top: solid #b2b5bc 1px;
  border-radius: 0 19px 0 0;
  box-shadow: 1px -2px 0 #fff;
}
.meter .inner {
  position: absolute;
  top: 0;
  left: 2px;
  width: 3px;
  height:10px;
  border: solid 3px #fff;
  border-right: none;
  border-radius: 5px 0 0 5px;
}
.meter {
  position: relative;
}
.meter .left-border
  position: absolute;
  top: 17px;
  left: -5px;
  width: 10px;
  height: 16px;
  border-radius: 12px 0 0 12px;
  border: solid 1px #b2b5bc;
  border-right: none;
  z-index: 3;
// End Meter stuff

// TapIn Page
.page.tap-in
  text-align: center


.story
  padding-bottom: 8px
  border-bottom: dotted #ccc 1px
  margin-bottom: 8px
.story:last-child
  border-bottom: none
.story .column.picture
  width: 12%
  margin-right: 4%
.story .column.picture img
  width: 100%
.story .column.text
  width: 82% // Android not adding percentages correctly
.story .name
  font-weight: 600

.place
  padding-bottom: 8px
  border-bottom: dotted #ccc 1px
  margin-bottom: 8px
.place:last-child
  border-bottom: none
.place > .column.left
  width: 16%
  margin-right: 4%
.place > .column.right
  width: 78% // Android percentages
.place > .column.left > img
  width: 100%
.place .name > a
  color: inherit
  text-decoration: none
.place .tag
  margin-right: 5px
.place > .actions
  margin-top: 12px
  text-align: right
.place-details .info
  margin-bottom: 6px
.place-details .field-row.save-row
  margin-top: 12px
.place-details .locations .location
  padding-bottom: 8px
  border-bottom: dotted #ccc 1px
  margin-bottom: 8px
.place-details .locations .location:last-child
  border-bottom: none

.field-row
  margin-bottom: 16px
.field-row > button
  display: block
  width: 100%
  box-sizing: border-box
  border-radius: 16px
.field-row > label
  display: block
  margin-bottom: 4px
.field-row > input
  display: block
  width: 100%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 10px 6px
  border: solid #aaa 1px
  border-radius: 16px

a
  color: #2C70a0

h1
  font-size: 2rem
  font-weight: 300

h2
  font-weight: 300

.row-link
  position: relative
  display: block
  padding: 10px 8px
  border: solid #aaa 1px
  border-radius: 16px
  color: #4C90D0
  font-weight: 600
  text-decoration: none
  margin: 6px 0;
.row-link:visited
  color: #4c90d0
.row-link:after
  position: absolute
  display: block
  top: 50%
  right: 6px
  margin-top: -12px
  color: #fff;
  text-align: center
  font-size: 32px;
  line-height: 18px
  font-weight: 400;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.2);
  box-shadow: inset 0 1px 0 rgba(0,0,0, 0.2), 0 1px 0 rgba(255,255,255, 0.25);
  background: #4C90D0
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C90D0), color-stop(100%,#2D476F));
  //background: -webkit-linear-gradient(top, #4C90D0 0%, #2D476F 100%);
  //background: linear-gradient(top, #4C90D0 0%, #2D476F 100%);
  width: 24px
  height: 24px
  border-radius: 12px
  content: "\203A"

.btn,
.btn:visited,
button {
  display: inline-block
  color: #fff;
  text-decoration: none
  font-size: 12px;
  font-weight: 400;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.2);
  padding: 10px 16px;
  border: solid 1px #21252a;
  border-top: solid #47494f 1px;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 #7ca7ca, inset 0 -2px 2px rgba(0,0,0, 0.1), 0 1px 0 rgba(255,255,255, 0.25);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C90D0), color-stop(100%,#2D476F));
  background: -webkit-linear-gradient(top, #4C90D0 0%, #2D476F 100%);
  background: linear-gradient(top, #4C90D0 0%, #2D476F 100%);
}
.btn:active,
button:active
  box-shadow: 0 1px 0 rgba(255,255,255, 0.25);

.gb-row-loader
  height: 60px


.columns
  display table
  width 100%
.columns > .column
  float left
  width 50%

.inline-columns
  font-size 0
.inline-columns > .column
  font-size def-font-size
  display: inline-block
  vertical-align middle
  width 50%

.flex-columns
  display: -webkit-box
.flex-columns > .column
  -webkit-box-flex 1



@media screen and (max-width: 320px) {
  .sub-header.profile .user-info .picture {
    width: 25px
    border: solid 2px #e9ebed;
  }
  .sub-header.profile .pledge-bank > .pledge-wrapper > .pledge > .digit {
    padding: 4px 5px 4px 6px
  }
}

@media screen and (max-height: 180px) {
  #header: {
    display: none
  }
}